@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62%;
}
main, .bg,
.pop-up{
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 100vh;
    background: url('./images/bg-desktop.png'),hsl(229, 57%, 11%);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
    font-family: 'Raleway', sans-serif;
}
.first-container{
    width: 300px;
    height: auto;
    background-color: hsl(228, 56%, 26%);
    margin-right: 30px;
    padding: 30px;
    border-radius: 6px 95px 6px 6px;
}
.first-container #logo{
   width: 50%;
   margin-bottom: 35px; 
}
.icon{
    display: flex;
}
.bg{
    width: 40px;
    height: 40px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 6px;
    margin-right: 20px;
    cusor: pointer;	
}
.sec-container{
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 130px;
    padding: 30px;
    margin-top: 44px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 6px;
}
h1{
    color: hsl(229, 7%, 55%);
    font-weight: 400;
    font-size: clamp(0.875rem, 30rem, 1.5rem);
    margin-bottom: 10px;
}
h1 span{
  color: hsl(243, 100%, 93%);
  font-weight: 700;  
}
.range{
    width: 100%;
    height: 15px;
    background-color: hsl(229, 57%, 11%);
    padding: 2px;
    border-radius: 10px;
}
.range .slider{
    position: relative;
    width: 80%;
    height: 12px;
    background: linear-gradient(45deg, hsl(6, 100%, 80%),hsl(335, 100%, 65%));
    border-radius: 10px;
}
.slider::before{
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: hsl(243, 100%, 93%);
    position: absolute;
    right: 1px;
    top: 0;
}
.label{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.label span{
    font-size: clamp(0.875rem, 30rem, 1.2rem);
    font-weight: 700;
    color: hsl(243, 100%, 93%);
}
.pop-up{
    background-color: hsl(243, 100%, 93%);
    position: absolute;
    width: 170px;
    height: 65px;
    border-radius: 9px;
    top: -50px;
    right: 30px;
}
.pop-up::before{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0;
    border: 20px solid;
    border-color: hsl(243, 100%, 93%) hsl(243, 100%, 93%) transparent transparent;
}
h2{
    font-size: 30px;
    text-align: center;
    color: hsl(229, 57%, 11%);
}
h2 span{
    font-size: 12px;
    text-transform: uppercase;
    color: hsl(229, 7%, 55%);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width:500px) {
    main{
        padding: 20px;
        background-image: url('./images/bg-mobile.png');
        background-position: top;
        background-size: cover;
        flex-direction: column;
    }
    .first-container{
        width: 100%;
	margin-right: 0;
    }
    .sec-container{
        margin-top: 20px;
    }
    .pop-up{
        right: 80px;
        top: 100px;
    }
    .pop-up::before{
        display: none;
    }
}
